// Base thematic styles

body {
  color: $text-color;
  background-color: $background-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

