<script type="text/x-handlebars">
  <div class='options pull-right'>
    {{#link-to 'videos'}}All Videos{{/link-to}}
    {{input type='checkbox' name='autoplay' checked=autoplay}} Autoplay
    {{input type='checkbox' name='nsfw' checked=nsfw}} Include nsfw
  </div>
  {{outlet}}
</script>
