The video is down here
<div class='video-container'>
  <video width="640" height="360" class="mediaelementize" id='video-player' preload="none">
    <source type="video/youtube" {{bind-attr src="video.mediaUrl"}} />
  </video>
</div>
