$base-color: rgb(209, 209, 209);
$accent-color: #7a7a8a;
$link-color: #7C76AC;
$link-hover-color: #e65252;

body {
  background: #1b1b24;
  color: $base-color;
  font-family: 'Lato', sans-serif;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-hover-color;
}

@import 'videos';
@import 'utilities';
