<!DOCTYPE html>
<html>
<head>
  <title>Philo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <script src='https://www.youtube.com/iframe_api'></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
